VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_ALLOW_PUBLIC_SIGNUP=false
VITE_ALLOWED_EMAILS=
VITE_SRI_FACTURADOR_URL=https://facturadorsri.sri.gob.ec/portal-facturadorsri-internet/pages/inicio.html
